html, body, #root {
    background-image: linear-gradient(to right top, #ecc2c6, #e6c8da, #dacfe8, #cdd8ee, #c6dfed);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
